@import '../../../styles-variables.scss';

.item-label {
    font-size: 35px;
    color: $text-accent-color;
    margin-bottom: 27px;
}

.text-input {
    height: 97px;
    outline: none;
    color: $text-accent-color;
    font-size: 25px;

    box-shadow: 0 2px 4px 0 rgba(142,173,165,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 5px;
    background-color: rgba(18,43,60,0.50);
}

.validation-msg {
    color: $error-or-invalid;
    font-size: 20px;
    height: 20px;
    margin-top: 5px;
}