<ul-comp-page-template [isMobileViewport]="isMobileViewport$">
    <section class="page-section render-as-column h-align-middle">

        <form style="margin-bottom: 90px;" [formGroup]="factorialForm">
            <div class="item-label">Factorial:</div>
            <input type="text" formControlName="factorialInput"
                [style.width]="(isMobileViewport$ | async) ? '80vw' : '714px'" class="text-input">
            <div class="validation-msg">{{ validationMessage }}</div>
        </form>

        <div>
            <div class="item-label">Result</div>
            <ul-comp-readonly-output [texts]="factorialOutput"
                bgColor="rgba(219,255,247,0.20)"
                [width]="(isMobileViewport$ | async) ? '80vw' : '714px'"
                height="97px"
            ></ul-comp-readonly-output>
        </div>

    </section>
</ul-comp-page-template>