@import './styles-variables.scss';

body {
    margin: 0;
    // font-family: HiraKakuProN-W3; // TODO
    color: $text-accent-color;
}

.render-as-row {
    display: flex;
    flex-direction: row;

    &.v-align-middle {
        align-items: center;
    }

    &.h-align-middle {
        justify-content: center;
    }
    &.h-align-end {
        justify-content: end;
    }
}
.render-as-column {
    display: flex;
    flex-direction: column;
}