@import './styles-variables.scss';

body {
    margin: 0;
    // TODO: Can't find specified font, use chartjs' default for now
    // font-family: HiraKakuProN-W3;

    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: $text-accent-color;
}

.render-as-row {
    display: flex;
    flex-direction: row;

    &.v-align-middle {
        align-items: center;
    }

    &.h-align-middle {
        justify-content: center;
    }
    &.h-align-space-between {
        justify-content: space-between;
    }
    &.h-align-start {
        justify-content: flex-start;
    }
    &.h-align-end {
        justify-content: end;
    }
}
.render-as-column {
    display: flex;
    flex-direction: column;

    &.h-align-middle {
        align-items: center;
    }
}