.chart-container {
    display: flex; flex-flow: row wrap;

    .chart-item {
        margin: 20px;
        padding: 20px;
        background: rgba(18,43,60,0.50);
        box-shadow: 0 1px 4px 0 rgba(142,173,165,0.50);

        .chart-title {
            font-size: 25px;
            margin-bottom: 20px;
        }
    }

    .bar-chart-order { order: 1 }
    .dough-chart-order { order: 2 }
    .line-chart-order { order: 3 }
    .scatter-chart-order { order: 4 }
}