<ul-comp-page-template [isMobileViewport]="isMobileViewport$">
    <section class="page-section render-as-column h-align-middle">

        <div [class.buttons-mobile]="isMobileViewport$ | async"
            [class.render-as-row]="!(isMobileViewport$ | async)"
            class="render-as-row h-align-space-between button-group">
            <ul-comp-button label="Start FizzBuzz" (ulClick)="startFizzBuzz()"></ul-comp-button>
            
            <ul-comp-button (ulClick)="stopFizzBuzz()"
                label="Stop FizzBuzz" 
                bgColor="rgba(85,30,30,0.50)"
            ></ul-comp-button>
        </div>

        <ul-comp-readonly-output [width]="(isMobileViewport$ | async) ? '80vw' : '561px'"
            [texts]="fizzBuzzOutput"></ul-comp-readonly-output>

    </section>
</ul-comp-page-template>