.button-group {
    width: 561px;

    margin: {
        top: 40px;
        bottom: 30px;
    }
}

.buttons-mobile {
    height: 180px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}